configuration {
    font: "monospace 13";
    show-icons: false;
    modi: "drun,run";
}

* {
    bg:               rgba(0, 0, 0, 0.8);
    bg-alt:           #22222e;
    bg-soft:          #585b70;

    fg:               #d0dfee;
    fg-bright:        #e8f0ff;
    fg-dim:           #7f8499;

    purple:           #B8B8FF;
    edge:             #45475a;

    background-color: transparent;
    text-color:       @fg;
}

window {
    width:            35%;
    padding:          8px;
    border:           2px;
    border-color:     @purple;
    background-color: @bg;
}

mainbox {
    background-color: transparent;
    spacing:          6px;
    children:         [ inputbar, listview ];
}

inputbar {
    background-color: @bg-alt;
    padding:          6px;
    border:           1px;
    border-color:     @edge;
    children:         [ entry ];
}

entry {
    background-color:  transparent;
    text-color:        @fg-bright;
    placeholder:       "search";
    placeholder-color: @fg-dim;
}

listview {
    lines:            5;
    spacing:          3px;
    scrollbar:        false;
    border:           0px;
}

element {
    text-color:       @fg;
    padding:          4px 6px;
}

element normal.normal,
element alternate.normal {
    background-color: transparent;
    text-color:       @fg;
}

element selected.normal {
    background-color: @bg-soft;
    text-color:       @fg-bright;
}

element-text {
    background-color: transparent;
    text-color:       inherit;
}

element-icon {
    background-color: transparent;
}

scrollbar {
    background-color: transparent;
    handle-color:     @bg-soft;
    border:           0px;
    width:            5px;
}
